* {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

p {
    margin: 0;
}

.chat-container {
    width: 800px;
}

.main-content-chat {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 80px;
}

.chat-form-container {
    padding: 20px;
    max-height: 530px;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    max-height: 500px;
    height: 100%;
    overflow-y: auto;
}

.chat-main {
    margin: 20px;
    width: 30%;
}

.message {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background: #FFF;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    min-height: 2.25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 66%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}

.message .meta {
    font-size: 0.7rem;
}

.message.its-me {
    margin: 1rem 1rem 1rem auto;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
    background: #333;
    color: white;
}

@media only screen and (max-width: 450px) {
    .main-content-chat {
        flex-direction: column;
        margin-top: 0px;
    }
    .chat-main {
        display: none;
    }
    .chat-form-container {
        padding: 10px;
        max-height: 100vh;
        width: 90vw;
        height: 90vh !important;
    }
    .chat-messages {
        position: fixed;
        max-height: 77vh;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    .mobile-bottom-input {
        position: fixed;
        bottom: 10px;
        width: 95vw;
    }
    .navbar {
        display: none;
    }
    .navbar .btn {
        padding: 5px;
    }
    .navbar .navbar-brand span {
        display: none;
    }
    .card {
        border: none;
    }
}